.img-produk {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.harga-produk {
    color: var(--secondary-color);
}

.produk {
    padding: 0 0 0 5px;
}

.title-produk {
    font-family: 'Roleway', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    /* Agar teks tidak melewati batas div */
    white-space: nowrap;
    /* Mencegah teks membungkus ke baris baru */
    overflow: hidden;
    /* Sembunyikan teks yang keluar dari batas div */
    text-overflow: ellipsis;
    /* text-decoration: none !important; */
    letter-spacing: 1px;
}

#myTabContent .harga-produk {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    /* text-decoration: none !important; */
}

.femail {
    /* margin: 0 auto; */
    max-width: 100%;
    /* Agar teks tidak melewati batas div */
    white-space: nowrap;
    /* Mencegah teks membungkus ke baris baru */
    overflow: hidden;
    /* Sembunyikan teks yang keluar dari batas div */
    text-overflow: ellipsis;
    /* Tambahkan "..." jika teks terlalu panjang */
}


.scroll-down {
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    color: #fff;
    margin-top: 100px;
}

.scroll-down i {
    top: 10px;
    font-size: 25px;
    display: inline-block;
    animation: moveDown 2s infinite;
    margin-right: 10px;
    -webkit-animation: moveDown 2s infinite;
}

@keyframes moveDown {
    0%, 50% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
}




.more-produk {
    color: var(--secondary-color)
}

.fa-arrow-right {
    display: inline-block;
    animation: moveRight 2s infinite;
    margin-right: 10px;
}

@keyframes moveRight {
    0%, 50% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

.timeline-section .luar-negeri1 {
    margin-bottom: 50px
}

.timeline-section .luar-negeri2 {
    /* margin-bottom: 50px; */
}


/* small size */
@media (max-width: 576px) {
    #myTabContent .title-produk {
        font-size: 4vw;
    }

    .w-40 {
        width: 48%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin: 3px;
        padding: 0 !important;
    }

    body {
        background-color: rgb(240, 240, 240);
        font-family: var(--body-font-family);
    }

    .bg-search {
        background-color: rgb(240, 240, 240);
    }

    .bg-produk {
        background-color: rgb(240, 240, 240);
    }


    /* navbar */
    .navbar-nav .nav-link {
        display: inline-block;
        color: var(--white-color);
        font-family: var(--title-font-family);
        font-size: var(--menu-font-size);
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        color: var(--primary-color);
        padding: 10px 20px 10px 20px;
        background-color: #fff;
    }

    .input-group {
        position: relative;
    }

    .input-group input {
        border: 1px solid var(--secondary-color);

    }

    .input-group i {
        position: absolute;
        right: 13px;
        top: 8px;
        color: var(--secondary-color);
    }

    .form-control2:hover {
        color: var(--p-color);
        padding-top: 5px;
        padding-bottom: 2px;
        padding-left: 20px;
        outline: 2px solid var(--secondary-color);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .form-control2:focus {
        color: var(--p-color);
        padding-top: 5px;
        padding-bottom: 2px;
        padding-left: 20px;
        outline: 1px solid var(--secondary-color);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .timeline-section h6 {
        font-size: 1.2rem !important;
    }

    .timeline-section h5 {
        font-size: 1rem !important;
    }

    .timeline-section {
        background-image: url('../images/colleagues-working-cozy-office-medium-shot.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        min-width: 10vh !important;
    }

    .timeline-container .vertical-scrollable-timeline li .icon-holder {
        position: absolute;
        left: 0;
        top: 0;
        width: 52px !important;
        height: 52px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        border-radius: 50%;
        z-index: 1;
        transition: 0.4s all;
    }

    .timeline-container .vertical-scrollable-timeline li .icon-holder::before {
        content: "";
        width: 40px !important;
        height: 40px !important;
        border: 4px solid #fff;
        position: absolute;
        background-color: var(--secondary-color);
        border-radius: 50%;
        z-index: -1;
        transition: 0.4s all;
    }

    .timeline-container .vertical-scrollable-timeline li .icon-holder i {
        font-size: 15px;
        color: var(--white-color);
    }

    .timeline-container .vertical-scrollable-timeline li::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 8px;
        background-color: transparent;
        left: 100px !important;
        z-index: 0;
    }


    /* line */
    .timeline-container .vertical-scrollable-timeline .list-progress {
        width: 8px;
        height: 90%;
        background-color: var(--primary-color);
        position: absolute;
        left: 24px !important;
        top: 0;
        overflow: hidden;
    }

    .timeline-container .vertical-scrollable-timeline li {
        position: relative !important;
        padding-left: 65px !important;
        padding-top: 10px !important;
    }


    .timeline-section .luar-negeri1 {
        display: none;
    }

    .timeline-section .luar-negeri2 {
        display: inline-block !important;
    }
}